body{
    margin:0;
}
.orange-color{
    color:orange;
}
.first-block h1{
    font-size: 42px;
    color: rgb(102, 95, 95);
    font-weight: 900;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Mukta', sans-serif;
    
}
.first-block h4{
    color: rgba(128, 128, 128, 0.651);
}
.first-block{
    display:flex;

    
}
.first-block-leftsection{
    width:50%;
    margin-top: 180px;
    margin-left: 80px;
    
}


.img1{
    width:90%;
    margin-left: 50px;
    margin-top: 40px;
    
}
.img2{
    width:70%;
    margin-left:120px ;
    margin-top: 0px;

}
.button-link{
    text-decoration: none;
    color:white;
    padding:10px 30px;
    background-image: linear-gradient(orange,tomato);
    border-radius: 20px;


}
#sec2-rightside{
    text-align: left;
    width:50%;
    margin-top: 100px;
    margin-left: 40px;
    margin-right: 100px;
}
.section2{
    margin-top: 100px;
    display:flex;
    background-image: url(images/shapes/7.png);
    background-position: center;
    background-size: cover;
    margin-bottom: 50px;
    padding-right: 5%;
}
.Gray-head{
    font-size: 40px;
    color: rgb(102, 95, 95);
    font-weight: 800;
    font-family: 'Montserrat', sans-serif;
}
.paras{
font-family: 'Manrope', sans-serif;
font-size: 18px;

}
.section3 {
    margin-top: 5%;
    margin-left:20%;
    margin-right:20%;
    text-align: center;
    margin-bottom: 50px;

}
.section4{
    margin-left: 10%;
    margin-right: 10%;
    display:flex;
    text-align: center;
    font-size: 16px;
    
}
.img3{
    width:300px;
    height:200px;
    border-radius: 18px;

}
.div-pic{
    box-sizing: content-box;
    box-shadow: 10px 10px 30px gray;
    width:30%;
    padding:10px;
    margin-right: 12px;
    margin-left: 12px;
    margin-bottom: 10px;
    border-radius: 18px;

}
.section5{
    display: flex;
    margin:80px 18% ;
    border-radius: 15px;
    box-shadow:10px 10px 40px gray;
    padding: 40px 20px;
    
}
.div2{
    width:32%;
    text-align: center;
    margin: auto;   
}
.paras1{
    font-family: 'Manrope', sans-serif;
    font-size: 13px;
}
footer{
    background-color: black;
    color:white;
    padding:10px 5px;
    text-align: center;
}